<div class="flex justify-center my-10">
  <svg
    width="520"
    height="40"
    viewBox="0 0 520 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="color: var(--floral, #c4a26a)"
  >
    <g stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round">
      <path d="M12 28 C70 5, 190 5, 258 20"></path>
      <path d="M42 22 c6-6 14-9 22-10"></path>
      <path d="M64 26 c4-6 10-10 16-12"></path>
      <path d="M86 28 c5-7 12-12 20-14"></path>
      <path d="M110 30 c6-6 14-11 23-13"></path>
      <path d="M136 31 c7-6 16-11 25-13"></path>
      <path d="M165 32 c7-6 16-11 26-13"></path>
      <path
        d="M52 24 c-6 2 -14 1 -18-3 4-6 12-10 18-12 3 5 4 11 0 15z"
        fill="currentColor"
      ></path>
      <path d="M260 8 c6 6 6 18 0 24 -6-6 -6-18 0-24z" fill="currentColor"></path>
      <circle cx="260" cy="20" r="2.2" fill="currentColor"></circle>
      <path d="M508 28 C450 5, 330 5, 262 20"></path>
      <path d="M478 22 c-6-6 -14-9 -22-10"></path>
      <path d="M456 26 c-4-6 -10-10 -16-12"></path>
      <path d="M434 28 c-5-7 -12-12 -20-14"></path>
      <path d="M410 30 c-6-6 -14-11 -23-13"></path>
      <path d="M384 31 c-7-6 -16-11 -25-13"></path>
      <path d="M355 32 c-7-6 -16-11 -26-13"></path>
      <path
        d="M468 24 c6 2 14 1 18-3 -4-6 -12-10 -18-12 -3 5 -4 11 0 15z"
        fill="currentColor"
      ></path>
    </g>
  </svg>
</div>

